* {
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    max-height: 9em;
    overflow: hidden;
}

header .logo-header {
    height: 90%;
    margin: 0 auto;
    margin-top: 10%;
    width: 195px;
}
header .logo-header .logo-header-img{
    width: 100%;
}

.loginButton {
    background-color: #3c4146;
    color: #eef4ec;
    padding: 1em;
    position: fixed;
    top: 70%;
    left: 54%;
    margin-left: -100px;
    margin-top: -1em;
    text-decoration: none;
    width: 150px;
    text-align: center;
  }